.title {
  text-align: center;
  
}

.header{
  color: rgb(255, 245, 231);
  text-shadow: 4px 5px 3px black;
  background-color: blanchedalmond;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url("./images/benniImage.jpg");
  background-repeat: repeat;
  background-size: 50%;
  background-position: 0%;
 
  
}

.app{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: blanchedalmond;
  
}

.inventory{
  background-color: azure;
  padding: 10px;
}




.extraMargin{
  margin-top: 150px;


}

.inventory > table{
  border-collapse: collapse;

}


.addProducts{
  color: brown;
  background-color: rgb(255, 245, 231);
  border: 2px solid brown;
  width: 150px;
  font-weight: bolder;
  box-shadow: 2px 2px 2px black;
  /* position: absolute;
  top: 160px;
  right: 20px; */
}

.removeProducts{
  margin-top: 2px;
  background-color: brown;
  color: white;
  border: 2px solid brown;
  width: 150px;
  font-weight: bolder;
  box-shadow: 2px 2px 2px black;
}

.flexbox{
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.removalTxt{
  background-color: rgb(214, 169, 102);
  color: white;
}

.cart-items{
  position: absolute;
  top: 50px;
  right: 10px;
}

.addToCart{
  background-color: azure;
  color: black;
  border: 2px solid brown;
  width: 150px;
  font-weight: bolder;
  box-shadow: 2px 2px 2px black;
}

.cartTitle{
  color: rgb(255, 245, 231);
  text-shadow: 4px 5px 3px black;
}

button:active{
  transform: translateY(2px) translateX(2px);
}


td, th{
  border: 2px solid brown;
  text-align: left;
  padding: 7px;
}

thead{
  background-color: rgb(214, 169, 102);
}

tr:nth-child(even){
  background-color: blanchedalmond;
}

nav{
  position: absolute;
  top: 110px;
  left: 5px;
  
}

nav > button{
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 245, 231);
  background-color: brown;
  

}

a:link{
  text-decoration: none;
}

a:visited{
  text-decoration: none;

  color: rgb(255, 245, 231);

}

a:hover{
  color: rgb(255, 245, 231);

}

a:active{
  color: rgb(255, 245, 231);
}

nav > button:hover{
  background-color: black;
}

input{
  background-color: azure;
  width: 125px;
  border: 2px solid brown;
  padding-bottom: 10px;
  
}
